@import "../variables";

.mobile-nav {
  position: relative;
}

.hamburger {
  padding: 9px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: $text;
  text-transform: none;
  background-color: $burger-bg;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover,
  &.is-active:hover {
    opacity: 0.7;
  }

  &.is-active {
    .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: $text;
    }
  }
}

.hamburger-box {
  width: 16px;
  height: 19px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 16px;
  height: 2px;
  background-color: $text;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -5px;
}

.hamburger-inner::after {
  bottom: -5px;
}

.hamburger--squeeze {

  .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }

  .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &.is-active {

    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #444444;
  background-color: #fafafa;
  min-width: 182px;
  z-index: 1;
  right: 0;
}

.dropdown-text {
  text-decoration: none;
  font-size: 12px;
  color: $primary;
  background-color: white;
  display: block;
  padding: 14px 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);

  &:hover,
  &:active,
  &:focus {
    background-color: #f5f5f5;
  }
}
