@import "variables";
@import './components/navigation.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Courier Prime', sans-serif;
}

.container {
  min-width: 320px;
  margin: 0 auto;

  &-title {
    font-size: 12px;
  }

  .row {
    display: flex;
    color: $text;
  }

  .justify-end {
    justify-content: space-between;
    padding-left: 19px;
  }

  .align-center {
    align-items: center;
  }
}

.header {
  background-color: $primary;

  &-content {
    background: url("/src/img/background/header-bg-320.png") no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: $text;
    height: 173px;
    margin-bottom: 3px;

    .web-link {
      font-size: 14px;
      color: $web-link;
    }
  }

  &-title {
    margin: 0;
  }
}

.desktop-nav {
  display: none;
}

.img-logo {
  display: none;
}

.main-nav {
  margin-bottom: 1px;

  .main-nav-title {
    font-size: 20px;
    color: $text;
    position: relative;
    height: 75px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 27px 70px 27px 0;
  }

  .pizza {
    background: url("/src/img/background/delivery-320.png") bottom left no-repeat;
    background-size: 100%;
  }

  .salads {
    background: url("/src/img/background/salads-320.png") bottom left no-repeat;
    background-size: 100%;
  }

  .desserts {
    background: url("/src/img/background/desserts-320.png") top left no-repeat;
    background-size: 100%;
    margin-bottom: 25px;
  }

  .chevron {
    background: $secondary;
    color: $text;
    width: 70px;
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 27px 0;
  }

  .chevron::before {
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    transform: rotate(-45deg);
    width: 0.45em;
  }

  .chevron.right:before {
    left: 0;
    transform: rotate(45deg);
  }
}

//Menu section

.desktop-logo {
  display: none;
}

.list-title {
  font-size: 19px;
  text-transform: uppercase;
  padding: 0 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
}

.title-comment {
  font-size: 12px;
  padding-left: 8px;
  opacity: 0.5;
}

.dark {
  color: $secondary;
  background-color: $additional;
  font-weight: 400;
  padding: 10px 20px;
}

.light {
  color: $text;
  background-color: $secondary;
  margin-top: 30px;
  font-weight: 400;
  padding: 10px 20px;
}

.chapter {
  display: flex;
  align-items: center;
  padding: 0 18px;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: space-between;
  margin-bottom: 20px;

  .icon {
    width: 25px;
    height: 25px;
  }
}

.list-content {
  padding: 0 17px;
  list-style-type: none;

  .list-item {
    margin-bottom: 10px;
  }

  .list-item-position {
    display: flex;
    justify-content: space-between;

    .list-item-title {
      margin: 0;
    }

    .price {
      font-weight: 600;
      margin: 0;
    }
  }

  .list-item-text {
    font-size: 12px;
    margin: 8px 0;
  }
}

//--Footer--//

.footer {
  color: $text;
  background-color: $secondary;
  font-size: 12px;
  padding: 8px 30px;
  text-align: center;

  &-text {
    margin: 5px;
  }
}

@media (min-width: 640px) {
  .container-title {
    font-size: 24px;
  }

  .justify-end {
    padding-left: 35px;
  }

  .header-content {
    background: url("/src/img/background/header-bg-640.png") no-repeat;
    background-size: cover;
    height: 346px;
    padding: 35px;
    width: 100%;

    .header-title {
      font-size: 36px;
    }

    .web-link {
      font-size: 24px;
    }
  }

  .desktop-logo {
    display: none;
  }

  .list-title {
    font-size: 26px;
    padding: 10px 20px;
  }

  .title-comment {
    font-size: 14px;
    padding: 0 20px;
    margin: 0 0 20px 0;
  }

  .list-content, .chapter {
    padding: 0 37px;
  }

  .chapter {
    font-size: 20px;
  }

  .list-item-title {
    font-size: 18px;
  }

  //  Hamburger
  .hamburger {
    padding: 25px 25px;
  }

  .hamburger-box {
    width: 30px;
  }

  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    width: 32px;
    height: 3px;
  }

  .dropdown-content {
    min-width: 240px;
  }

  .dropdown-text {
    font-size: 14px;
    padding: 16px 27px;
  }
  //--end of hamburger

  .main-nav-title {
    font-size: 36px;
    height: 150px;
    padding: 54px 140px 54px 0;
  }

  .chevron {
    background: #acd8ad;
    color: #fff;
    width: 140px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
  }

  .footer {
    font-size: 18px;
  }
}

@media (min-width: 980px) {

  .justify-end {
    padding: 5px 30px;
  }

  .container-title {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-item {
      font-size: 16px;
      margin-right: 30px;
      text-transform: uppercase;
    }
  }

  .img-logo {
    display: flex;
  }

  .desktop-logo {
    display: inline-block;
    margin-right: 30px;
  }

  .header-content {
    background: url("/src/img/background/header-bg-980.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 530px;
    padding-left: 30px;
    padding-top: 65px;

    .header-title {
      font-size: 54px;
    }

    .web-link {
      font-size: 34px;
    }
  }

  .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-nav {
      width: 34%;

      .main-nav-title {
        font-size: 38px;
        color: $text;
        height: 327px;
        padding: 140px 40px;

        .pizza {
          background: url("/src/img/background/delivery-980.png") no-repeat;
        }

        .salads {
          background: url("/src/img/background/salads-980.png") no-repeat;
        }

        .desserts {
          background: url("/src/img/background/desserts-980.png") no-repeat;
        }
      }
    }
  }

  .chapter, .list-content {
    padding: 0 20px;
  }

  .list-title {
    padding: 20px 30px;
  }

  .title-comment {
    font-size: 14px;
    padding: 0 30px;
    margin: 0;
  }

  .list-top-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .chevron {
    display: none;
  }

  .desktop-list {
    display: flex;
  }

  .light {
    margin: 0;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;

  &-text {
    display: inline-block;
  }
}

@media (min-width: 1200px) {

  .header-content {
    background: url("/src/img/background/header-bg-1200.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;

    .web-link {
      font-size: 38px;
    }
  }

  .header-title {
    margin-bottom: 50px;
  }

  .nav-item {
    cursor: pointer;

    &:hover {
      color: $secondary;
      transition: 0.3ms;
    }
  }

  .main-nav-title:hover {
    color: $secondary;
    transition: 0.3ms;
  }

  .list-title {
    font-size: 26px;
    padding: 20px 0 20px 20px;

  }

  .title-comment {
    font-size: 14px;
    padding: 0 20px;
    margin: 0;
  }

  .chapter {
    font-size: 20px;
    padding: 0 20px;
  }

  .list-content, .list-item-text {
    font-size: 16px;
    padding: 0 20px;
  }

  .list-item-title {
    font-size: 20px;
  }

  .list-top-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .list-top {
    display: inline-block;
  }

  .desktop-logo {
    display: inline-block;
    margin-right: 30px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;

    &-text {
      display: inline-block;
    }
  }
}
